body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 1000px;
    margin-inline: auto;
    padding: 35px;
}

:root {
    --color-accent: #ead1db;
}

html {
    accent-color: var(--color-accent);
    color-scheme: light dark;
}

#header {
    align-items: center;
    text-align: center
}

#resume-body h2, #resume-body h3 {
    margin: 0;
}

.bleft {
    float: left; 
    font-weight: bold; 
}
  
.bright {
    float: right;
    font-weight: bold; 
}

.ileft {
    float: left; 
    font-style: italic; 
}

.iright {
    float: right;
    font-style: italic; 
}

ul {
    margin: 0;  
}

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--border-color);

    ul {
        display: contents;
    }
    li {
        display: contents;
    }
    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
    }

    a:hover {
        border-bottom: 0.4em solid var(--color-accent);
        padding-bottom: 5px;
        background-color: color-mix(in oklch, var(--color-accent), canvas 85%);;
    }
}

a.current {
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 5px;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1 / -1;
    gap: 1em;
}


button {
    grid-column: 1 / -1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
    padding: 10px;

    h2 {
        margin: 0;
    }
    
}

article img {
    width: 100%;    
    height: 200px;
    object-fit: cover;
}


h1 {
    font-size: 350%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;

}

label.color-scheme {
    position: absolute;
    top: 0.8em;;
    right: 0.8em;
    font-size: 80%;
}

select {
    font-size: 80%;
    font-family: inherit;
}

#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 10px; 
}
  
#profile-stats dt, #profile-stats dd {
    grid-column: span 1; 
    margin: 0;
}
  
#profile-stats dt {
    font-weight: bold;
}
  

.project-year {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-top: auto;
}

.project-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
}

.legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, auto));
    gap: 1em;
    border: 2px solid #ddd; 
    padding: 10px; 
    border-radius: 8px; 
    flex: 1;
}

.legend-color {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.swatch {
    width: 18px;
    height: 18px;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    display: inline-flex; 
    border-radius: 50%; 
} 

.legend-container {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2em;

}
  
&:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
}

path {
    transition: 300ms;
}

.selected {
  --color: oklch(92.65% 0.0888 88.88) !important; /* Distinct color for selection */
}

.selected:is(path) {
  fill: var(--color);
}

path {
    cursor: pointer;
}

.legend li {
  list-style-type: none;
}


